{% extends 'base.html.twig' %}

{% block title %}MealMatch- Mes Recettes{% endblock %}

{% block stylesheets %}
{{parent()}}
<style>

body {
  background-color: #f2f1f4;
}
.card-img-top{
  min-height:600px;
  max-height:600px;
  
  object-fit:cover;
}

/* Ajout du style pour le conteneur des boutons */
.card-buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  transition: opacity 0.5s;
}

.card {
  position: relative;
}

.card:hover .image-overlay {
  display: flex;
}

.image-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.image-overlay .btn {
  border: 2px solid black;
  margin: 5px;
}

/* Affichage des boutons au survol de l'image */
.card:hover .card-buttons {
  opacity: 1;
}

.card-button {
  color: white;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.card-button-left {
  float: left;
}

.card-button-right {
  float: right;
}

.titre{

  max-width: 100%;
  height: 140px;
  margin-bottom:25px;
  text-align:center;
  color:white;
   background-size: cover;
  background-repeat: no-repeat;
  
  
  }
  
  {% if saison.id==1 %}

.titre{
  background-image:url(https://i.pinimg.com/564x/a9/1e/9f/a91e9f51ec8eb3ee7fc7c695e3ab8240.jpg);
  background-position: bottom; /* la position ici est centrée en haut */
 
 

}

{% elseif saison.id==2 %}
.titre{
  background-image:url(https://i.pinimg.com/564x/4b/22/d1/4b22d160cee064fe6df911896bd47e8c.jpg);
  background-position: center; /* la position ici est centrée en haut */
}
{% elseif saison.id==3 %}
.titre{
  background-image:url(https://img.freepik.com/photos-premium/chute-feuilles-erable-jaune-sec-automne_116441-2907.jpg?w=740);
background-position: bottom ; /* la position ici est centrée en haut */
}
{% elseif saison.id==4 %}
.titre{
  background-image:url(https://img.freepik.com/photos-gratuite/paysage-hiver-mysterieux-montagnes-majestueuses-hiver_146671-14057.jpg?w=1380&t=st=1680689211~exp=1680689811~hmac=79b22b3de00e9b6d94d35792ad922ed2e178eccb8ffc9ab5c75ac239c9b24f13);
background-position: center; /* la position ici est centrée en haut */
}

{% endif %}
.card:hover .card-img-top {
  filter: brightness(60%) blur(1px);
}

.card:hover .image-overlay {
  display: flex;
}
h1{
 padding-top:5%;
}



</style>
{% endblock %}

{% block body %}

<div class="container mb-4">
<div class="example-wrapper">

<div class="titre">
    <h1> {{saison.nom}}</h1>
</div>

		

 <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for recette in saison.recettes %}
    
  <div class="col">
   <div class="card">
  <img src="{{ vich_uploader_asset(recette, 'imageFile') }}" class="card-img-top" alt="recette de l'image" />
  <div class="image-overlay">
   <a href="{{ path('recette_show', { id: recette.id }) }}"><button type="button" class="btn btn-outline-success btn-lg">Voir Recette</button></a>
  </div>

      <div class="card-body">
        <h5 class="card-title">{{recette.titre}}</h5>
        <div>
			<span class="badge bg-primary">
				{{ recette.categories}}</span>
		</div>
      </div>
    </div>
  </div>
    {%endfor%}
  </div>



    
   

    
</div>
</div>
{% endblock %}
