{% extends 'base.html.twig' %}

{% block title %}MealMatch-Connexion{% endblock %}

{% block stylesheets %}
{{parent()}}
<style>
body{
     background-image: url('./images/homePage.jpg');
     background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
        
}


        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        button[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

</style>

{% endblock %}

{% block body %}
   
        <form method="post" style="background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); width: 450px; height: 400px; margin: auto;margin-top:25px;">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal" style="font-size: 24px;">Connexion</h1>
            <label for="inputEmail" style="font-size: 18px;">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus style="margin-bottom: 20px;">
            <label for="inputPassword" style="font-size: 18px;">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required style="margin-bottom: 20px;">

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary" type="submit" style="font-size: 18px;">
                Sign in
            </button>
        </form>
   
{% endblock %}