{% extends 'base.html.twig' %}

        
{% block title %}
    MealMatch - Accueil
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <style>
    body{
        background-color: #f2f1f4;
    }
    #HomePage{
        
        background-image: url('./images/homePage.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
        height:650px;
    }


.season-link {
  position: relative;
  display: block;
  margin: 10px;
  text-align: center;
}

.season-image {
  opacity: 0.7;
  transition: opacity 0.5s ease;
  min-width:200px;
  min-height:200px;
  
}

.season-image:hover {
  opacity: 1;
}

.season-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.season-link:hover .season-name {
  opacity: 1;
}
.col-md-3, .col-lg-2 {
  margin-bottom: 20px;
}

    </style>
{% endblock %}
{% block body %}

<div id="HomePage"> 
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="container-div text-center">
                    <h1 style="color:green; font-size: 4rem;">MealMatch</h1>
                    <h3>Bienvenue sur MealMatch, le site de partage de recettes où vous pouvez trouver et publier vos plats préférés en toute simplicité. Rejoignez notre communauté et découvrez de nouvelles idées culinaires pour épater vos papilles !</h3>
                    
                    <a href="{{ path('recette_index_public') }}" class="btn btn-success mt-4" id="recipes-button">Toutes les recettes</a>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="container mt-4 mb-3 text-center" style="padding-bottom:15px;">
<h2 class="center mb-4"> Les dernières recettes</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for recette in recettes %}
    
  <div class="col">
    <div class="card text-right">
      <img src="{{ vich_uploader_asset(recette, 'imageFile') }}" class="card-img-top"
        alt="recette de l'image" style="max-widht:400px;max-height:250px; object-fit:cover"/>
      <div class="card-body">
      <a href="{{ path('recette_show', { id: recette.id }) }}">
        <h5 class="card-title ">{{recette.titre}}</h5>
    </a>
        
      </div>
    </div>
  </div>
    {% endfor %}
  </div>

  <a href="{{ path('recette_index_public') }}" class="mb-4"> Voir toutes les recettes</a>
</div>

<!--afficher par saison-->
<div class="container mb-4" style="background-color:#e1e1e1;padding-top:10px;">
<h2 class="center mb-4" style="text-align:center;margin-top:10px;"> Par saison</h2>
  <div class="row justify-content-center">
    <div class="col-md-3 col-lg-2">
      <a href="{{path('saison_show', { id: 1 }) }}" class="season-link">
        <img src="https://img.freepik.com/premium-photo/cosmos-field-with-sunset_29084-2310.jpg?w=1060" class="img-fluid rounded-circle season-image" alt="Spring">
        <div class="season-name">Printemps</div>
      </a>
    </div>
    <div class="col-md-3 col-lg-2 ">
      <a href="#" class="season-link">
        <img src="https://img.freepik.com/free-photo/tree_1127-3028.jpg?w=1060&t=st=1680534797~exp=1680535397~hmac=b5c214eed567597d785e18cede1739572e0ec44f56ff203fc4f9255d85ee4f5b" class="img-fluid rounded-circle season-image" alt="Summer">
        <div class="season-name">Ete</div>
      </a>
    </div>
    <div class="col-md-3 col-lg-2">
      <a href="#" class="season-link">
        <img src="https://img.freepik.com/free-photo/birch-forest-sunny-afternoon-while-autumn-season_146671-19510.jpg?w=1060&t=st=1680534711~exp=1680535311~hmac=44a82a419648643f1f0cc15e7101011bad8c707ceb788bf732dd2b42825983c7" class="img-fluid rounded-circle season-image" alt="Fall">
        <div class="season-name">Autumn</div>
      </a>
    </div>
    <div class="col-md-3 col-lg-2">
      <a href="#" class="season-link">
        <img src="https://img.freepik.com/free-photo/magical-switzerland-winter-lake-center-alps-surrounded-by-forest-covered-by-snow_181624-29283.jpg?w=1060&t=st=1680534691~exp=1680535291~hmac=3502335f07790ac61b98c065218e82821f0bcec054c2624bd58bc711fccc27a6" class="img-fluid rounded-circle season-image" alt="Winter">
        <div class="season-name">Hiver</div>
      </a>
    </div>
  </div>
</div>

<!--afficher par catégories-->

<div class="container mt-4 mb-4 text-center">
  <h2 class="center mb-4"> Par Catégorie</h2>
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-wrapper container-sm d-flex  justify-content-around">
      <div class="card  " style="width: 22rem;">
  <img src="./images/entree.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="{{ path('categorie_show', { id: 1 }) }}">Entrée</a>
    
  </div>
</div><div class="card" style="width: 22rem;">
  <img src="./images/plat.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="{{ path('categorie_show', { id: 2 }) }}">Plat</a>
    
  </div>
        </div>
        <div class="card" style="width: 22rem;">
  <img src="./images/dessert.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="{{ path('categorie_show', { id: 3 }) }}">Dessert</a>
    
  </div>
</div>
</div>
    </div>
    <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex   justify-content-around">
      <div class="card  " style="width: 22rem;">
  <img src="./images/Accompagment.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#">Accompagnement</a>
    
  </div>
</div><div class="card" style="width: 22rem;">
  <img src="./images/dejeuner.jpg" class="card-img-top" alt="...">
  <a href="{{ path('categorie_show', { id: 6 }) }}"
    <h5 class="card-title">Dejeuner</h5>
    </a>
        </div>
        <div class="card" style="width: 22rem;">
  <img src="./images/boisson.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="{{ path('categorie_show', { id: 7 }) }}">Boisson</a>
    
  </div>
</div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex  justify-content-around">
      <div class="card " style="width: 22rem;">
  <img src="./images/soupe.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <a href="{{ path('categorie_show', { id: 8 }) }}">
    <h5 class="card-title">Soupe et Potage</h5>
  </a>
  </div>
</div>
        <div class="card" style="width: 22rem;"">
  <img src="./images/encas.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="{{ path('categorie_show', { id: 10 }) }}">
    <h5 class="card-title">En-cas</h5>
  </a>
    
  </div>
        </div>
        <div class="card" style="width: 22rem;"">
  <img src="./images/viande.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="{{ path('categorie_show', { id: 11 }) }}">
    <h5 class="card-title">Viande</h5>
  </a>
    
  </div>
</div>
    </div>
    
  </div>
  <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex  justify-content-around">
      <div class="card " style="width: 22rem;">
  <img src="./images/poisso.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="{{ path('categorie_show', { id: 12}) }}">
    <h5 class="card-title">Poisson et Fruit de mer</h5>
  </a>
    
  </div>
</div>
        <div class="card" style="width: 22rem;"">
  <img src="./images/fromage.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="{{ path('categorie_show', { id: 13 }) }}">
    <h5 class="card-title">Produits Laitiers</h5>
  </a>
    
  </div>
        </div>
        <div class="card" style="width: 22rem;"">
  <img src="./images/apero.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <a href="{{ path('categorie_show', { id: 5 }) }}"
    <h5 class="card-title">Apero</h5>
    </a>
    
  </div>
</div>
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    
    
    

</div>
{% endblock %}



