{% extends 'base.html.twig' %}

{% block title %}MealMatch-Inscription{% endblock %}



{% block stylesheets %}
{{parent()}}
<style>
body{
     background-image: url('./images/homePage.jpg');
     background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
        
}

label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        button[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }
{% endblock %}

{% block body %}
<form method="post" class="justify-content" style="background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); width: 450px; height: 600px; margin: auto;">
    <h1>Formulaire d'Inscription</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
       

    
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
