{% extends 'base.html.twig' %}


{% block title %}SymRecipe - Recettes de la communauté
{% endblock %}

{% block stylesheets %}
{{parent()}}
<style>

body {
  background-color: #f2f1f4;
}
.card-img-top{
  min-height:600px;
  max-height:600px;
  
  object-fit:cover;
}

/* Ajout du style pour le conteneur des boutons */
.card-buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  transition: opacity 0.5s;
}

.card {
  position: relative;
}

.card:hover .image-overlay {
  display: flex;
}

.image-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.image-overlay .btn {
  border: 2px solid black;
  margin: 5px;
}

/* Affichage des boutons au survol de l'image */
.card:hover .card-buttons {
  opacity: 1;
}

.card-button {
  color: white;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.card-button-left {
  float: left;
}

.card-button-right {
  float: right;
}

.titre{
  background-image: url('./images/mesrecettes.jpg');
  background-size: cover;
  max-width: 100%;
  height: 170px;
  margin-bottom:25px;text-align:center;
  color: black;
  
  }
.card:hover .card-img-top {
  filter: brightness(60%) blur(1px);
}

.card:hover .image-overlay {
  display: flex;
}
h1{
 padding-top:5%;
}



</style>
{% endblock %}


{% block body %}
	<div class="container">
		{% if not recettes.items is same as([]) %}
    <div class="mb-4 titre"  style="border-bottom:1px solid black">
    <h1 class="mb-2">Recettes de la communauté</h1>
    <h6 class="mb-3"> <em>Laissez-vous inspirer par toutes les recettes partagées ii, toutes plus bonnes les unes que les autres. 
    Chacune a le pouvoir d'éveiller vos papilles et de ravir toute la famlle!<em></h6>
    </div>

<div style="display: flex;">
     <form class="d-flex pr-4 mb-4" style="margin-right:10px;">
      <ul class="navbar-nav mc-auto">
					
          <li class="nav-item dropdown">
          <a class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Par Categorie</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('categorie_show', { id: 1 }) }}">Entrée</a>
            <a class="dropdown-item" href="{{ path('categorie_show', { id: 2 }) }}">Plat</a>
            <a class="dropdown-item" href="{{ path('categorie_show', { id: 3}) }}">Dessert</a>
            <a class="dropdown-item" href="{{ path('categorie_show', { id: 4}) }}">Accompagment</a>
            
          </div>
        </li>
        </ul>
      </form>

      <form class="d-flex pr-4 mb-4">
      <ul class="navbar-nav mc-auto">
					
          <li class="nav-item dropdown">
          <a class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Par Saison</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('categorie_show', { id: 1 }) }}">Printemps</a>
            <a class="dropdown-item" href="{{ path('categorie_show', { id: 2 }) }}">Ete</a>
            <a class="dropdown-item" href="{{ path('categorie_show', { id: 3}) }}">Automne</a>
            <a class="dropdown-item" href="{{ path('categorie_show', { id: 4}) }}">Hiver</a>
            
          </div>
        </li>
        </ul>
      </form>

      
</div>
			<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for recette in recettes %}
    
  <div class="col">
    <div class="card">
      <img src="{{ vich_uploader_asset(recette, 'imageFile') }}" class="card-img-top"
        alt="recette de l'image"/>
        <div class="image-overlay">
  <a href="{{ path('recette_show', { id: recette.id }) }}"><button type="button" class="btn btn-outline-success btn-lg">Voir recette</button></a>
    
  </div>
      <div class="card-body">
        <h5 class="card-title">{{recette.titre}}</h5>
        <div>
			<span class="badge bg-primary">
				{{ recette.categories}}</span>
		</div>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>

  <div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(recettes) }}
</div>


		{% else %}
			<h4>Il n'y a pas de recettes</h4>
		{% endif %}
	</div>
{% endblock %}

