{% extends 'base.html.twig' %}

{% block title %}MealMatch- Nouvelle Recette{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block stylesheet %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}



{% block body %}
<div class="container">
<h1 class="mt-4">Nouvelle Recette</h1>
{{ form_start(form) }}



		<div class="form-group">
			{{ form_label(form.titre) }}
			{{ form_widget(form.titre) }}
			<div class="form-error">
				{{ form_errors(form.titre) }}
			</div>
		</div>
			<div class="form-group">
			{{ form_label(form.imageFile) }}
			{{ form_widget(form.imageFile) }}
			
		</div>

		<div class="form-group">
			{{ form_label(form.tempsCuisson) }}
			{{ form_widget(form.tempsCuisson) }}
			<div class="form-error">
				{{ form_errors(form.tempsCuisson) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.dureePreparation) }}
			{{ form_widget(form.dureePreparation) }}
			<div class="form-error">
				{{ form_errors(form.dureePreparation) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.nbPersonne) }}
			{{ form_widget(form.nbPersonne) }}
			<div class="form-error">
				{{ form_errors(form.nbPersonne) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
			<div class="form-error">
				{{ form_errors(form.description) }}
			</div>
		</div>

		

		<div class="form-group">
			{{ form_widget(form.submit) }}
		</div>

		
    </ul>


   {# <ul class="details">
        {% for detail in form.details %}
            <li>{{ form_row(detail.quantite) }}</li>
        {% endfor %}
    </ul> #}


		{# the data-index attribute is required for the JavaScript code below #}
		
		<ul class="details"
			data-index="{{ form.details|length > 0 ? form.details|last.vars.name + 1 : 0 }}"  
			data-prototype="{{ form_widget(form.details.vars.prototype)|e('html_attr') }}">
			{% for detail in form.details %}
				<br>
            	<li>{{ form_row(detail.quantite) }}</li>
				<li>{{ form_row(detail.mesure) }}</li>
				<li>{{ form_row(detail.ingredients) }}</li>
				
        	{% endfor %}
		</ul>
		<button type="button" class="add_item_link" data-collection-holder-class="details">+</button>


			{{ form_row(form._token) }}
		
		{{ form_end(form, {render_rest:false}) }}


{{ form_start(formSearch) }}
{{ form_widget(formSearch) }}
{{ form_end(formSearch) }}

</div>




{% block customJS %}
<script>

const addFormToCollection = (e) => {
  const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
  const item = document.createElement('li');
  item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );
  collectionHolder.appendChild(item);
  collectionHolder.dataset.index++;
};


document
  .querySelectorAll('.add_item_link')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });


// transformer les select en select2
$(document).ready(function() {
	$('.select2').select2(); 
});

</script>

{% endblock %}

{% endblock %}

