{% extends "base.html.twig" %}

{% block title %}
    SymRecipe - {{ recette.titre }}
{% endblock %}

{% block stylesheets %}

{{parent()}}
<style>
body{
  
    background-image: url('https://img.freepik.com/free-photo/close-up-black-marble-textured-background_53876-148094.jpg?w=1060&t=st=1680451606~exp=1680452206~hmac=a02567c38143b7eee8d53d2d2655424f4cb2f1824e5dcf6b985598d181a7bcbd')
        
}
.bg-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:900px;

}
.container {
            background-color: white;
            width: 70%;
			border-radius: 15px;
			box-shadow: 5px 5px 10px #888888;
			overflow:hidden;
			padding-left:0;
        }
       
       .quantity {
    font-size: 1em;
  }

#image{
  padding-left:20px;
  margin-bottom:20px;
  padding-left:20px;
  max-width:600px;
  max-height: auto;
  
}


  .left{
    width:45%;
    text-align:left;
   

  }
</style>
    </style>
{% endblock %}

{% block body %}

<div class="bg-image pt-4 ">


<div class="container mt-3 p-1 container1">
  <div class="col-md-12 text-center px-4">
    <div class="d-flex justify-content-between">
      <h4 class="mx-4 my-2"><i class="bi bi-clock"></i>Préparation</h4>
      <h4 class="mx-4 my-2"><i class="bi bi-hourglass"></i>Cuisson</h4>
      <h4 class="mx-4 my-2"><i class="bi bi-person"></i>Quantité</h4>
    </div>
  </div>
  <div class="col-md-12 text-center px-4" >
    <div class="d-flex justify-content-between align-items-center px-0">
      <h4 class="mx-4 my-0 quantity mx-2" style="padding-left:10px;">{{ recette.dureePreparation }} min.</h4>
      <h4 class="mx-0 my-0 quantity">{{ recette.tempsCuisson }} min.</h4>
      <h4 class="mx-4 my-0 quantity mx-2 style="padding-right:30px;">{{ recette.nbPersonne }} pers.</h4>
    </div>
  </div>
</div>



<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>{{ recette.titre }}</h1>
      <hr>
      
     
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="col-md-12 text-center">
          <div class="recipe__image mx-auto float-md-end ml-4">
            <img src="{{ vich_uploader_asset(recette, 'imageFile') }}" id="image">
          </div>
      </div>
    </div>
    <div class="col-md-6 left">
      <h4 style="background-color:#D3D3D3">Ingredients:</h4>
          <ul class="list-unstyled">
            {% for detail in details %}
              <li class="text-left">{{detail.ingredients}} {{detail.quantite}} {{ detail.mesure}}</li>
            {% endfor %}
          </ul>
          <div class="p-2 d-flex flex-column">
          <h4 style="background-color:#D3D3D3">Etapes:</h4>
          <p class="text-left">{{ recette.description|raw }}<p>
        </div>
    </div>
<div class="d-flex justify-content-center mb-4">
      <h6>Saison: <span class="badge bg-success" style="margin-right: 10px;">{{recette.saison}}</span></h6>
        <h6> Catégorie: <span class="badge bg-success" style="margin-right: 10px;"> {{recette.categories}}</span></h6>
        <h6 style="margin-left: 10px;">Créee le:{{ recette.createdAt| date('d/m/Y')}}</h6>
        <h6 style="margin-left: 10px;">Par: {{recette.user.nom}} {{recette.user.prenom}}</h6>
      </div>
      

 
  </div>
</div>

    </div>
      
</div>


 <div class="container w-100 px-4 py-4 mb-4">
<h3>Commentaire</h3>
<hr> 
{% if app.user %}
						<div class="comments__new mb-4">
							<div class="w-full-width">
								{{ form_start(form) }}
								{{ form_label(form.commentaire, 'Nouveau commentaire', {'attr' : {'class' : 'form-label inline-block mb-2 text-gray-700'}}) }}
								{{ form_widget(form.commentaire, {'attr': {'class': 'form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'}}) }}
								
                <button>Poster mon commentaire
                </button>

								{{ form_end(form) }}
							</div>
						</div>
{% endif %}

          

{% for commentaire in recette.commentaire %}
		{% include 'partials/commentaire.html.twig' %}
{% endfor %}

            </div>

        </div>


</div>


{% endblock %}