{% extends 'base.html.twig' %}

{% block title %}MealMatch- Mes Recettes{% endblock %}

{% block stylesheets %}
{{parent()}}
<style>

body {
  background-color: #f2f1f4;
}
.card-img-top{
  min-height:600px;
  max-height:600px;
  
  object-fit:cover;
}

/* Ajout du style pour le conteneur des boutons */
.card-buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  transition: opacity 0.5s;
}

.card {
  position: relative;
}

.card:hover .image-overlay {
  display: flex;
}

.image-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.image-overlay .btn {
  border: 2px solid black;
  margin: 5px;
}

/* Affichage des boutons au survol de l'image */
.card:hover .card-buttons {
  opacity: 1;
}

.card-button {
  color: white;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.card-button-left {
  float: left;
}

.card-button-right {
  float: right;
}

.titre{

  max-width: 100%;
  height: 180px;
  margin-bottom:25px;
  text-align:center;
  
  }
.card:hover .card-img-top {
  filter: brightness(60%) blur(1px);
}

.card:hover .image-overlay {
  display: flex;
}
h1{
 padding-top:5%;
}



</style>
{% endblock %}

{% block body %}

<div class="container mb-4">
<div class="example-wrapper">
<div class="titre" style="border-bottom:1px solid black">
    <h1 class="mb-3"> {{categorie.nom}}</h1>
    {%if categorie.id==6 %}
    <h6 class="mb-2"><em> Les déjeuners sont l'un des repas les plus importants de la journée, car ils nous donnent l'énergie nécessaire pour commencer 
    la journée du bon pied. Dans cette catégorie, vous trouverez des recettes pour des plats chauds, des sandwichs, 
    des salades et des œufs, parfaits pour un repas rapide et facile à préparer. </em></h6>
    {% elseif categorie.id==1 %}
    
    <h6 class="mb-2"><em> Les entrées sont un élément clé de tout repas.
    Elles sont souvent légères et fraîches, et elles ouvrent l'appétit pour les plats principaux à venir. Dans cette catégorie, vous trouverez une sélection de recettes d'entrées pour tous les goûts et occasions.</em></h6>
    {% elseif categorie.id==2 %}
    
    <h6 class="mb-2"><em>Les plats principaux sont le cœur de tout repas. Dans cette catégorie, vous trouverez une variété de recettes pour tous les goûts et les occasions. Que vous soyez végétarien, carnivore, adepte de la cuisine rapide ou gourmet, nous avons des options qui vous plairont.</em></h6>
   
   {% elseif categorie.id==3 %}
    
    <h6 class="mb-2"><em>Les desserts sont la touche finale parfaite pour tout repas. Dans cette catégorie, 
    vous trouverez une sélection de recettes de desserts pour tous les goûts et les occasions, 
    de gâteaux d'anniversaire spectaculaires à des desserts légers et sains.</em></h6>

    {% elseif categorie.id==4 %}
    
    <h6 class="mb-2"><em>Les accompagnements sont la clé pour compléter un repas savoureux. Dans cette catégorie, vous trouverez une sélection de recettes d'accompagnements pour tous les goûts et les occasions.</em></h6>

     {% elseif categorie.id==5 %}
    
    <h6 class="mb-2"><em>Les apéros sont une partie essentielle de tout rassemblement social. Dans cette catégorie, vous trouverez une sélection de recettes d'apéros pour tous les goûts et les occasions.Que vous cherchiez des apéros rapides et faciles ou que vous prévoyiez une soirée sophistiquée, notre sélection de recettes d'apéros est là pour vous inspirer.</em></h6>

     {% elseif categorie.id==7 %}
    
    <h6 class="mb-2"><em>Les boissons sont un élément important de tout repas ou rassemblement social. Dans cette catégorie, vous trouverez une sélection de recettes de boissons pour tous les goûts et les occasions. Et n'oubliez pas de boire avec modéartions, sauf si c'est de l'eau!</em></h6>

    

     {% elseif categorie.id==8 %}
    
    <h6 class="mb-2"><em>  Les soupes et potages sont une excellente façon de se réchauffer pendant les mois les plus froids ou de se rafraîchir pendant les jours chauds. Dans cette catégorie, vous trouverez une sélection de recettes de soupes et potages pour tous les goûts et les occasions. </em></h6>



     {% elseif categorie.id==10 %}
    
    <h6 class="mb-2"><em> Les en-cas ou snacks sont des collations rapides et faciles à préparer qui peuvent être consommées à tout moment de la journée. Dans cette catégorie, vous trouverez une sélection de recettes d'en-cas et de snacks pour tous les goûts et les occasions.</em></h6>

     {% elseif categorie.id==11 %}
    
    <h6 class="mb-2"><em> La viande est un ingrédient populaire dans de nombreuses cuisines à travers le monde et peut être préparée de nombreuses façons différentes. Dans cette catégorie, vous trouverez une sélection de recettes de viande pour tous les goûts et les occasions.</em></h6>

     {% elseif categorie.id==12 %}
    
    <h6 class="mb-2"><em> Le poisson et les fruits de mer sont des ingrédients délicieux et sains qui peuvent être préparés de nombreuses façons différentes. Dans cette catégorie, vous trouverez une sélection de recettes de poisson et de fruits de mer pour tous les goûts et les occasions.</em></h6>
    
    {% endif %}
    
</div>

		

 <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for recette in categorie.recettes %}
    
  <div class="col">
   <div class="card">
  <img src="{{ vich_uploader_asset(recette, 'imageFile') }}" class="card-img-top" alt="recette de l'image" />
  <div class="image-overlay">
   <a href="{{ path('recette_show', { id: recette.id }) }}"><button type="button" class="btn btn-outline-success btn-lg">Voir Recette</button></a>
  </div>

      <div class="card-body">
        <h5 class="card-title">{{recette.titre}}</h5>
        <div>
			<span class="badge bg-primary">
				{{ recette.categories}}</span>
		</div>
      </div>
    </div>
  </div>
    {%endfor%}
  </div>



    
   

    
</div>
</div>
{% endblock %}
